<h1>Forecast</h1>

<table class="forecast-table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

<%= render 'modal_form' %>
