[data-group=items][data-view=forecast] {
    .dataTables_scrollBody {
        overflow-x: hidden !important;   
        overflow-y: scroll !important;   
    }

    .dataTables_paginate {
        display: none;
    }

    table.forecast-table {
        thead {
            display: none;
        }

        user-select: none;

        .row-actions {
            display: none;
        }

        td {
            position: relative;

            b {
                font-weight: 600;
            }
        }

        tr.group {
            background-color: $primary-color;
            color: $white;
            position: sticky;
            z-index: 1;
            top: 0;

            h2 {
                font-size: 1.5rem;
                margin: 0;
            }

            td {
                font-weight: 600;
            }
        }

        tbody {
            border: none;
            
            tr {
                transition: all 0.25s ease;
                cursor: pointer;

                &:not(.group).is-hovered {
                    background-color: $dark-gray;
                    color: $white;

                    .fa-minus-square, .fa-plus-square {
                        color: $white;
                    }
                }
            }
        }

        .show-actions {
            .row-actions {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                height: 1.5rem;
                width: 1.5rem;
                background-color: $success-color;
                color: $white;
                top: -0.75rem;
                right: 1rem;
                border-radius: 0.75rem;
                cursor: pointer;
                z-index: 2;

                i {
                    border: 2rem solid transparent;
                }

                &:hover {
                    background-color: darken($success-color, 20%);
                }
            }
        }
    }
}

#editOccurrenceModal {
    #modifications-callout {
        h2 {
            font-size: 1.5rem;
        }
    }
}