<% if notice %>
  <div class="grid-container padding-vertical-1">
    <div class="callout success flash-message" data-closable>
      <p><%= notice %></p>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="grid-container padding-vertical-1">
    <div class="callout alert flash-message" data-closable>
      <p><%= alert %></p>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
<% end %>
