<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><%= link_to "Accounts", accounts_path %></li>
      <li><%= link_to "Items", '' %></li>
      <li><a href="#">Forecast</a></li>
      <li><a href="#">Calendar</a></li>
      <li><a href="#">Categories</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</div>