<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><%= link_to "Accounts", accounts_path %></li>
      <% if params[:account_id] %>
        <li><%= link_to "Transactions", account_items_path %></li>
        <li><%= link_to "Forecast", account_forecast_path %></li>
        <li><a href="#">Calendar</a></li>
        <li><a href="#">Categories</a></li>
      <% end %>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</div>